.history {
  // border-top: .55px solid #eee;

  .loading {
    padding: 192px 0;
    text-align: center;
  }

  .search-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    z-index: 9;

    &.search-mode {
      // border-bottom: .55px solid #d3d3d3;
    }

    .search-frame {
      padding: 6px 12px;

      .search-box {
        // margin: 7px 12px;
        margin: 0;
        border-radius: 10px;
        background: #ededed;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .search-bar-icon {
          padding: 0 10px;

          i {
            color: #888;
          }
        }

        input {
          display: block;
          height: 36px;
          width: 100%;
          padding: 0;
          border: 0;
          background: rgba(0, 0, 0, 0);
          color: #000;
          font-size: 1.4rem;
          font-size: 14px;
          font-weight: 400;
          font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN',
            '游ゴシック  Medium', meiryo, sans-serif;

          &:focus {
            border: 0 !important;
            box-shadow: none;
            outline: 0;
          }
        }

        .search-bar-button {
          padding: 0 8px;
          cursor: pointer;

          &.hidden {
            visibility: hidden;
            cursor: normal;
          }

          i {
            color: #888;
          }
        }
      }
    }

    .controller {
      width: 100%;
      box-sizing: border-box;
      margin: 0;
      padding: 6px 12px;
      background: #fff;

      display: flex;

      .switch {
        margin: 0 8px 0 0;
        padding: 6px 12px;
        border-radius: 10px;
        background-color: #f7f7f7;
        color: #888;
        font-size: 14px;
        cursor: pointer;

        &.on {
          background: #888;
          color: #fff;

          &.main {
            background-color: #ea5505;
          }
          &.mini {
            background-color: rgba(0, 191, 255, 1);
          }
          &.other {
            background-color: #888;
          }
        }
      }
    }
  }

  .result-list {
    width: 100%;

    .result-item {
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
      padding: 8px 12px;
      box-sizing: border-box;

      & > div {
        padding-left: 12px;
        border-left: 2px solid #ccc;

        &.main {
          border-color: #ea5505;
        }
        &.mini {
          border-color: rgba(0, 191, 255, 1);
        }
        &.other {
          border-color: #888;
        }

        .concert-title {
          display: block;
          font-size: 13px;
          color: #666;
        }

        .title {
          display: block;
        }

        .composer {
          font-size: 13px;
          color: #666;
        }
      }
    }
  }

  details.concert-item {
    width: 100%;
    // border-top: .55px solid #eee;
    margin: 0 auto;

    &.main032 > div > div.detail .overview {
      & > div:first-child:before {
        content: '中止しました';
        display: inline-block;
        margin-bottom: 10px;
        padding: 6px 12px;
        font-weight: bold;
        background: #dc3545;
        color: #fff;
      }

      .music-list label.other {
        display: none;

        & + ol {
          display: none;
        }
      }
    }

    summary {
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
      padding: 12px 0;
      border-radius: 2px;
      list-style: none;
      cursor: pointer;

      &::-webkit-details-marker {
        display: none;
      }

      &:hover {
        background: #eee;
      }

      h2 {
        padding: 0 12px;
        box-sizing: border-box;
        font-size: 1.6rem;
      }
    }

    & > div {
      width: 100%;
      max-width: 800px;
      margin: 12px auto 48px;

      .detail {
        width: 100%;
        padding: 0 12px;
        box-sizing: border-box;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        @media (max-width: 767px) {
          & {
            flex-direction: column;
          }
        }

        .poster {
          flex: 1;
          max-width: 300px;
          margin: 8px;
          @media (max-width: 767px) {
            & {
              // flex: 1;
              order: 2;
              margin: 8px 0;
            }
          }

          img {
            width: 100%;
            padding: 2px;
            border: 0.55px solid #b4b4b4;
            box-sizing: border-box;
          }

          .no-poster {
            position: relative;
            width: 100%;
            background: #eee;
            z-index: 4;

            @media (max-width: 767px) {
              & {
                display: none;
              }
            }

            &:before {
              content: '';
              display: block;
              padding-top: 140%;
            }

            div {
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;

              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;

              svg {
                fill: #ddd;
                width: 60%;
              }

              span {
                display: block;
                padding: 0 0 0 0;
                font-size: 14px;
                color: #ccc;
                text-transform: uppercase;
                letter-spacing: 0.1em;
              }
            }
          }
        }

        .overview {
          flex: 1.5;
          margin: 8px 16px;

          @media (max-width: 767px) {
            & {
              // flex: 2;
              margin: 0;
              order: 1;
            }
          }

          .item {
            margin-bottom: 8px;

            label {
              display: block;
              font-size: 12px;
              color: #666;
            }
            & > div {
              font-size: 16px;
            }

            .guide {
              a {
                text-decoration: none;
                color: #333;

                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }

          .music-list {
            & > li {
              display: block;
              margin-bottom: 8px;

              label {
                display: block;
                font-size: 12px;
                color: #666;
              }

              ol {
                margin-left: 16px;

                .track {
                  & > div {
                    span {
                      // display: block;

                      &.composer {
                        font-size: 12px;
                        color: #666;

                        &::before {
                          content: '-';
                          margin: 0 6px;
                          color: #ccc;
                        }

                        span {
                          display: inline;
                          margin: 0 4px;
                        }
                      }
                    }
                  }

                  ol {
                    font-size: 12px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .notice {
    margin: 48px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    i {
      margin-bottom: 16px;
      color: #aaa;
    }

    span {
      color: #aaa;
      font-size: 16px;
    }
  }
}
