.index {
  &.right-position {
    margin-left: auto;
  }
  .scroll-top {
    padding: 8px 12px;
    border-width: 0.55px;
    border-style: solid;
    border-color: #333;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #333;
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: all ease-in-out 0.1s;

    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;

    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }

    .icon {
      margin-right: 0.2em;
      color: #666;
    }
  }
}
