.header {
  width: 100%;
  height: 100vh;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    z-index: 0;

    .first {
      animation-name: first;
      background: url('../public/images/001.jpg') no-repeat 50% 50%;
    }

    .second {
      animation-name: second;
      background: url('../public/images/002.jpg') no-repeat 50% 50%;
    }

    .third {
      animation-name: first;
      background: url('../public/images/003.jpg') no-repeat 50% 50%;
    }

    .fourth {
      animation-name: second;
      background: url('../public/images/004.jpg') no-repeat 50% 50%;
    }

    .fifth {
      animation-name: first;
      background: url('../public/images/005.jpg') no-repeat 50% 50%;
    }

    .sixth {
      animation-name: second;
      background: url('../public/images/006.jpg') no-repeat 50% 50%;
    }

    .seventh {
      animation-name: first;
      background: url('../public/images/007.jpg') no-repeat 50% 50%;
    }

    .eighth {
      animation-name: second;
      background: url('../public/images/008.jpg') no-repeat 50% 50%;
    }

    .ninth {
      animation-name: first;
      background: url('../public/images/009.jpg') no-repeat 50% 50%;
    }

    .tenth {
      animation-name: second;
      background: url('../public/images/010.jpg') no-repeat 50% 50%;
    }

    .eleventh {
      animation-name: first;
      background: url('../public/images/011.jpg') no-repeat 50% 50%;
    }

    .twelfth {
      animation-name: second;
      background: url('../public/images/012.jpg') no-repeat 50% 50%;
    }

    .thirteenth {
      animation-name: first;
      background: url('../public/images/013.jpg') no-repeat 50% 50%;
    }

    .fourteenth {
      animation-name: second;
      background: url('../public/images/014.jpg') no-repeat 50% 50%;
    }

    .first,
    .second,
    .third,
    .fourth,
    .fifth,
    .sixth,
    .seventh,
    .eighth,
    .ninth,
    .tenth,
    .eleventh,
    .twelfth,
    .thirteenth,
    .fourteenth {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      opacity: 0;
      background-attachment: fixed;
      animation-duration: 30s;
      animation-delay: 0;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      background-size: cover;
    }

    .filter {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: rgba(0, 0, 0, 0.4);
    }

    @keyframes first {
      0% {
        opacity: 1;
      }
      40% {
        opacity: 1;
      }
      50% {
        opacity: 1;
      }
      60% {
        opacity: 0;
      }
      90% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    @keyframes second {
      0% {
        opacity: 0;
      }
      40% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      90% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }

  section.main-logo {
    z-index: 3;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    @media (max-width: 767px) {
      & {
        padding: 24px 24px 96px;
      }
    }

    main {
      flex-grow: 2;
      width: 100%;

      &.before-direct-link {
        padding: 0 0 12px;
      }

      svg.logo {
        width: 80%;
        max-width: 450px;
        fill: #fff;

        path {
          fill-opacity: 0;
          stroke: #fff;
          stroke-opacity: 0;
          stroke-width: 0.2px;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-dasharray: 60;
          stroke-dashoffset: 100;

          animation-name: draw;
          animation-duration: 5s;
          animation-delay: 0.5s;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
          animation-timing-function: linear;

          @keyframes draw {
            30% {
              stroke-width: 0.2px;
              stroke-opacity: 1;
            }
            60% {
              stroke-opacity: 1;
              fill-opacity: 0;
            }
            80% {
              stroke-dashoffset: 0;
            }
            100% {
              stroke-opacity: 0;
              stroke-width: 0;
              fill-opacity: 1;
            }
          }
        }
      }
    }
  }

  .direct-link {
    margin: 12px 0 0;

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    opacity: 0;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-delay: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;

    a {
      position: relative;
      display: block;
      padding: 8px 24px;
      border: 0.55px solid rgba(255, 255, 255, 1);
      border-radius: 2px;
      text-decoration: none;
      color: #fff;
      background: rgba(0, 0, 0, 0.1);
      transition: all ease-in-out 0.1s;
      overflow: hidden;
      line-height: 1.2;

      &:hover {
        border: 0.55px solid #00496d;
        // main
        background: #00496d;
        // mini
        // border: rgba(243, 168, 191, 1);
        // background: rgba(243, 168, 191, 1);

        &:before {
          animation: none;
        }
      }

      &:before {
        background: #fff;
        content: '';
        height: 155px;
        left: -75px;
        opacity: 0.2;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        width: 50px;
        z-index: -10;
        animation-name: slash;
        animation-duration: 6s;
        animation-delay: 0.5s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
      }

      @keyframes slash {
        0% {
          left: -75px;
        }
        90% {
          left: -75px;
        }
        100% {
          left: 120%;
        }
      }

      .detail {
        p {
          color: rgba(255, 255, 255, 0.6);
          font-size: 11px;
        }

        h3 {
          margin-top: 2px;
          font-size: 16px;
        }
      }
    }
  }

  section.quote {
    z-index: 2;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    & > q {
      display: block;
      padding: 24px;
      box-sizing: border-box;
      // text-align: right;
      font-size: 24px;
      color: rgba(255, 255, 255, 0.6);
      font-family: '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'Sawarabi Mincho', 'HG明朝E',
        'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;
      -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;

      @media (max-width: 767px) {
        & {
          font-size: 14px;
        }
      }

      span {
        letter-spacing: 2px;
        opacity: 0;
        animation-name: fade-in;
        animation-duration: 2s;
        animation-delay: 6s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;

        &.dash {
          letter-spacing: 0px;
        }

        @for $i from 1 through 18 {
          &:nth-child(#{$i}) {
            animation-delay: #{5.9 + ($i / 10)}s;
          }
        }

        @-webkit-keyframes fade-in {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
        @keyframes fade-in {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }
    }
  }

  .scroll-guide {
    z-index: 2;

    position: sticky;
    top: 100%;
    display: block;
    margin: auto;
    text-align: center;

    opacity: 0;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-delay: 8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    &::before {
      content: '';
      position: absolute;
      top: -60px;
      left: 50%;
      width: 24px;
      height: 24px;
      margin-left: -12px;
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      transform: rotate(-45deg);
      box-sizing: border-box;
      animation: scroll_move_down 2s ease-in-out infinite;
    }

    @media screen and (orientation: landscape) {
      & {
        bottom: 20px;
      }
    }

    @keyframes scroll_move_down {
      0% {
        transform: translate(0, -20px) rotate(-45deg);
        opacity: 0;
      }
      50% {
        -webkit-transform: rotate(-45deg);
        opacity: 1;
      }
      100% {
        transform: translate(0, 20px) rotate(-45deg);
        opacity: 0;
      }
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
